@font-face {
    font-family: 'webgaran';
    src: url('../fonts/IRANSans_fa.eot');
    src: url('../fonts/IRANSans_fa.eot#iefix') format('embedded-opentype'),
         url('../fonts/IRANSans_fa.woff') format('woff'),
         url('../fonts/IRANSans_fa.ttf') format('truetype'),
         url('../fonts/IRANSans_fa.woff2') format('woff2'),
         url('../fonts/IRANSans_fa.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'webgaran';
    src: url('../fonts/IRANSans_fa_Bold.eot');
    src: url('../fonts/IRANSans_fa_Bold.eot#iefix') format('embedded-opentype'),
         url('../fonts/IRANSans_fa_Bold.woff') format('woff'),
         url('../fonts/IRANSans_fa_Bold.ttf') format('truetype'),
         url('../fonts/IRANSans_fa_Bold.svg') format('svg'),
         url('../fonts/IRANSans_fa_Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
